.authentication-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .authentication-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .authentication-form p {
    margin-bottom: 15px;
  }
  
  .authentication-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .authentication-form input[type="email"],
  .authentication-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .authentication-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .authentication-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  